/* import font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
  color: #222;
  background: #fff;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

input, textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0 16px;
  border-radius: 8px;
  outline: none;
}

textarea {
  padding: 10px;
}

.form-control {
  position: relative;
  padding: 16px;
  height: 52px;
  border-radius: 8px;
}

.form-control input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 16px 2px;
  box-shadow: inset 0 0 0 1px #b0b0b0;
}

.form-control .input-placeholder {
  display: block;
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px;
  color: #717171;
  pointer-events: none;
  transition: transform 0.2s ease-in;
}

.form-control input:valid + .input-placeholder {
  transform: translate(-10px, -25px) scale(0.75);
}

.form-control input:focus + .input-placeholder {
  transform: translate(-10px, -25px) scale(0.75);
}

.form-control input:not(:focus):invalid + .input-placeholder {
  transform: translate(0, -50%) scale(1);
}

.form-group:not(:last-child) {
  margin-bottom: 15px;
}

.input-error {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #c13515;
  padding-top: 5px;
}

.input-error svg path {
  fill: #c13515;
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

.fade-out {
  animation: fadeOut 500ms ease-in-out;
}

.loader-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 999;
}

.loader-holder .loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #848484;
  box-shadow: -24px 0 #848484, 24px 0 #848484;
  box-sizing: border-box;
  animation: shadowPulse 1s linear infinite;
}

.mini-loader-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99;
}

.mini-loader-holder .loader {
  display: block;
  width: 25px;
  height: 25px;
  border: 3px solid #FF385C;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes shadowPulse {
  33% {
    background: #848484;
    box-shadow: -24px 0 #222, 24px 0 #848484;
  }
  66% {
    background: #222;
    box-shadow: -24px 0 #848484, 24px 0 #848484;
  }
  100% {
    background: #848484;
    box-shadow: -24px 0 #848484, 24px 0 #222;
  }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 